
.marca{
	border: 1px solid black;
	background-color: lightblue;

}
.parallax-container {
      height: 500px;
}
.red-social{
	color:green;
	/* font-size: 3em; */

}
.red-social i{
	color:grey;
	width: 3em;
}
.red-social i:hover{
	color:lightblue;

}
i.fab {
	 color:grey;
 }
i.fab :hover {
	 color:red;
 }
