body {
	opacity: 5 !important;
	background-color: transparent !important;
	background-image: url("img\1-8.jpg") !important;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
/* background-color: lightblue; */
}
.marca{
	border: 1px solid black;
	background-color: lightblue;

}
.parallax-container {
      height: 500px;
}
.red-social{
	/* color:red; */
	/* font-size: 3em; */
	width: 15px;
}
.red-social > i{
	color:yellow;
	width: 3em;
}
